.TopNav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #071013;
}

.navbar-brand {
    color: #EB5160;
    margin: 0 8px;
    padding: 0 16px;
}

.nav-item {
    color: #639FAB;
    margin: 0 8px;
}

.nav-item:hover {
    color: #FBFEF9;
    font-weight: bold;
}

.SignOut {
    margin: 0 8px;
}

.active {
    color: #FBFEF9;
    font-weight: bold;
}