/* Sign In Page */
.SignInPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sign Up Page */
.SignUpPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
