.Main {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../images/bg1.png');
    background-size: cover;
    color: #BCF4F5;
}

.MainText {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Righteous', cursive;
}

.MainWord {
    font-size: 80px;
}