.SideNav {
    position: fixed;
    height: 100%;
    left: 0px;
    padding: 20px;
    background-color: #313638;
}

.navbar-brand {
    color: #F56960;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-item {
    color: #E0DFD5;
    margin-top: 20px;
    font-size: 20px;
}
